---
layout: default
---

{{ content }}

<script
  src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
  type="text/javascript"
></script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
          inlineMath: [['$','$']]
      }
  });
</script>
<script type="text/javascript">
  // Hack: Replace page-link with "Page Title"
  window.addEventListener('DOMContentLoaded', (event) => {
    document
      .querySelectorAll(".markdown-body a[title]:not([href^=http])")
      .forEach((a) => {
        // filter to only wiki-links
        var prev = a.previousSibling
        var next = a.nextSibling
        if (
          prev instanceof Text && prev.textContent.endsWith('[') &&
          next instanceof Text && next.textContent.startsWith(']')
        ) {

          // remove surrounding brackets
          prev.textContent = prev.textContent.slice(0, -1)
          next.textContent = next.textContent.slice(1)

          // add CSS list for styling
          a.classList.add('wikilink')

          // replace page-link with "Page Title"...
          a.innerText = a.title

          // ...and normalize the links to allow html pages navigation
          a.href = normalizeMdLink(a.href)
        }
      });

    document.querySelectorAll(".github-only").forEach((el) => {
      el.remove()
    })
  })
</script>
