---
layout: default
---

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
  integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X"
  crossorigin="anonymous"
/>

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script
  defer
  src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"
  integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4"
  crossorigin="anonymous"
></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script
  defer
  src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js"
  integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa"
  crossorigin="anonymous"
  onload="renderMathInElement(document.body);"
></script>

<script src="https://cdn.jsdelivr.net/npm/turbolinks@5.2.0/dist/turbolinks.min.js"></script>

{% katexmm %} {{ content }} {% endkatexmm %}

<script type="text/javascript">
  // Add turbolinks support
  let Turbolinks = require('turbolinks')
  Turbolinks.start()

  let MD_EXT = ['.md', '.markdown', '.mdx', '.mdown', '.mkdn', '.mkd', '.mdwn', '.mdtxt', '.mdtext', '.text', '.Rmd']
  function normalizeMdLink(link) {
    let url = new URL(link)
    let mdFileExt = MD_EXT.find(ext => url.pathname.endsWith(ext))
    if (mdFileExt) {
      url.pathname = url.pathname.slice(0, mdFileExt.length * -1)
    }
    return url.toString()
  }
  // Hack: Replace page-link with "Page Title"
  window.addEventListener('DOMContentLoaded', event => {
    document.querySelectorAll('.markdown-body a[title]:not([href^=http])').forEach(a => {
      // filter to only wiki-links
      let prev = a.previousSibling
      let next = a.nextSibling
      if (
        prev instanceof Text &&
        prev.textContent.endsWith('[') &&
        next instanceof Text &&
        next.textContent.startsWith(']')
      ) {
        // remove surrounding brackets
        prev.textContent = prev.textContent.slice(0, -1)
        next.textContent = next.textContent.slice(1)

        // add CSS list for styling
        a.classList.add('wikilink')

        // replace page-link with "Page Title"...
        a.innerText = a.title

        // ...and normalize the links to allow html pages navigation
        a.href = normalizeMdLink(a.href)
      }
    })

    document.querySelectorAll('.github-only').forEach(el => {
      el.remove()
    })
  })
</script>
